<!DOCTYPE html>
<html lang="ja" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Gulp Sample</title>
        <link rel="stylesheet" href="../styles/<%= maincss %>">
        <script src="../scripts/<%= headjs %>"></script>

    </head>
    <body>
    <div class="container">
        <h1>Gulp Sample </h1>
        <p class="hello">Hello World</p>
        <p class="jquery">If this text is blue, jquery is working.</p>
        <p class="csssample">If this text is red, CSS is working.</p>
        <p class="scss">If this text is red, SASS is working.</p>
        <hr>
        <label class="label label-default">AngularJS Hello World & Bootstrap works</label><br>
        <input type="text" ng-model="name"><p>Hello {{ name }}</p>
    </div>

    <script src="../scripts/<%= mainjs %>"></script>
    <script src="<%= livereload %>"></script>
    </body>
</html>

